[submodule "gh-unit"]
	path = gh-unit
	url = https://github.com/gabriel/gh-unit.git
[submodule "json-framework"]
	path = json-framework
	url = https://github.com/stig/json-framework.git
[submodule "asi-http-request"]
	path = asi-http-request
	url = https://github.com/pokeb/asi-http-request.git

[submodule "CocoaLumberjack"]
	path = CocoaLumberjack
	url = https://github.com/robbiehanson/CocoaLumberjack.git
[submodule "appledoc"]
	path = appledoc
	url = https://github.com/tomaz/appledoc.git
