[submodule "gh-unit"]
	path = gh-unit
	url = https://github.com/gabriel/gh-unit.git
[submodule "json-framework"]
	path = json-framework
	url = https://github.com/stig/json-framework.git
[submodule "asi-http-request"]
	path = asi-http-request
	url = https://github.com/pokeb/asi-http-request.git

[submodule "CocoaLumberjack"]
	path = CocoaLumberjack
	url = https://github.com/robbiehanson/CocoaLumberjack.git
[submodule "appledoc"]
	path = appledoc
	url = https://github.com/tomaz/appledoc.git
[submodule "CocoaAsyncSocket"]
	path = CocoaAsyncSocket
	url = https://github.com/robbiehanson/CocoaAsyncSocket
[submodule "CocoaHTTPServer"]
	path = CocoaHTTPServer
	url = https://github.com/robbiehanson/CocoaHTTPServer.git
[submodule "Core-Data-Localization"]
	path = Core-Data-Localization
	url = https://github.com/cspicker/Core-Data-Localization.git
[submodule "V8HorizontalPickerView"]
	path = V8HorizontalPickerView
	url = git@github.com:jmoody/V8HorizontalPickerView.git
[submodule "OCMockSingletonExtension"]
	path = OCMockSingletonExtension
	url = git@github.com:jmoody/OCMockSingletonExtension.git
[submodule "OCHamcrest"]
	path = OCHamcrest
	url = https://github.com/hamcrest/OCHamcrest.git
[submodule "PLWeakCompatibility"]
	path = PLWeakCompatibility
	url = https://github.com/plausiblelabs/PLWeakCompatibility.git
