<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>au.com.agchoice.AgChoice</string>
	<key>CFBundleName</key>
	<string>AgChoice Documentation</string>
	
	
	
	
	
	<key>DocSetFeedName</key>
	<string>AgChoice Documentation</string>
	
	<key>DocSetMinimumXcodeVersion</key>
	<string>3.0</string>
	
	<key>DocSetPublisherIdentifier</key>
	<string>au.com.agchoice.documentation</string>
	<key>DocSetPublisherName</key>
	<string>AgChoice</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011 AgChoice. All rights reserved.</string>
</dict>
</plist>
