<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.littlejoysoftware.Tests-iOS</string>
	<key>CFBundleName</key>
	<string>Tests-iOS Documentation</string>
	
	
	
	
	
	<key>DocSetFeedName</key>
	<string>Tests-iOS Documentation</string>
	
	<key>DocSetMinimumXcodeVersion</key>
	<string>3.0</string>
	
	<key>DocSetPublisherIdentifier</key>
	<string>com.littlejoysoftware.documentation</string>
	<key>DocSetPublisherName</key>
	<string>Little Joy Software</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011 Little Joy Software. All rights reserved.</string>
</dict>
</plist>
