<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.16.0.171715</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1152, 2199}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2012-08-15 11:23:36 +0000</string>
	<key>Creator</key>
	<string>Joshua Moody</string>
	<key>DisplayScale</key>
	<string>1 pt = 1 pt</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{82, 1143}, {4.0000000000000009, 16.000000000000004}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>17015</integer>
							<key>Shape</key>
							<string>FlattenedRectangle</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>CornerRadius</key>
									<real>4</real>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
							<key>TextRelativeArea</key>
							<string>{{0.10000000000000001, 0}, {0.80000000999999998, 1}}</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{80.999999999999986, 1161}, {6, 7.0000000000000009}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>17016</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{64.000000000000014, 1131}, {39.999999999999979, 39.999999999999986}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>17017</integer>
							<key>Rotation</key>
							<real>270</real>
							<key>Shape</key>
							<string>HorizontalTriangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.84</string>
										<key>b</key>
										<string>0.0974829</string>
										<key>g</key>
										<string>0.124274</string>
										<key>r</key>
										<string>0.682415</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>CornerRadius</key>
									<real>2</real>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>17014</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{56, 1123}, {56, 56}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>17018</integer>
					<key>ImageID</key>
					<integer>8</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>17013</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{9, 1182}, {4.0000000000000009, 16.000000000000004}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>17006</integer>
					<key>Shape</key>
					<string>FlattenedRectangle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>4</real>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>TextRelativeArea</key>
					<string>{{0.10000000000000001, 0}, {0.80000000999999998, 1}}</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{7.9999999999999858, 1200}, {6, 7.0000000000000009}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>17007</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{-8.9999999999999893, 1170}, {39.999999999999979, 39.999999999999986}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>17008</integer>
					<key>Rotation</key>
					<real>270</real>
					<key>Shape</key>
					<string>HorizontalTriangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.84</string>
								<key>b</key>
								<string>0.0974829</string>
								<key>g</key>
								<string>0.124274</string>
								<key>r</key>
								<string>0.682415</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>2</real>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>17005</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{90, 912}, {4, 16}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>17002</integer>
					<key>Shape</key>
					<string>FlattenedRectangle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>4</real>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>TextRelativeArea</key>
					<string>{{0.10000000000000001, 0}, {0.80000000999999998, 1}}</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{89, 930}, {6, 7}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>17003</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{72.000000000000014, 900}, {39.999999999999979, 39.999999999999979}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>17004</integer>
					<key>Rotation</key>
					<real>270</real>
					<key>Shape</key>
					<string>HorizontalTriangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.5</string>
								<key>b</key>
								<string>0.0974829</string>
								<key>g</key>
								<string>0.124274</string>
								<key>r</key>
								<string>0.682415</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>4</real>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>17001</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>AllowConnections</key>
							<string>NO</string>
							<key>AllowLabelDrop</key>
							<false/>
							<key>AllowToConnect</key>
							<false/>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>16998</integer>
							<key>Points</key>
							<array>
								<string>{153, 1045}</string>
								<string>{159, 1055}</string>
								<string>{173, 1033}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>Legacy</key>
									<true/>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>6</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{143, 1023}, {40, 40}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>16999</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.5</string>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0.727607</string>
										<key>r</key>
										<string>0.153126</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>16997</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{135, 1015}, {56, 56}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>17000</integer>
					<key>ImageID</key>
					<integer>8</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>16996</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{701.62807017543855, 1008.5122807017544}, {28.743859649122804, 114.97543859649122}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>16983</integer>
							<key>Shape</key>
							<string>FlattenedRectangle</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>CornerRadius</key>
									<real>4</real>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
							<key>TextRelativeArea</key>
							<string>{{0.10000000000000001, 0}, {0.80000000999999998, 1}}</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{694.44210526315783, 1137.8596491228075}, {43.115789473684195, 50.301754385964898}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>16984</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{572.28070175438609, 922.28070175438597}, {287.43859649122788, 287.43859649122788}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>16985</integer>
							<key>Rotation</key>
							<real>270</real>
							<key>Shape</key>
							<string>HorizontalTriangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.84</string>
										<key>b</key>
										<string>0.0974829</string>
										<key>g</key>
										<string>0.124274</string>
										<key>r</key>
										<string>0.682415</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>CornerRadius</key>
									<real>17</real>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>16982</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{460, 810}, {512, 512}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>16986</integer>
					<key>ImageID</key>
					<integer>8</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>16981</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>AllowConnections</key>
							<string>NO</string>
							<key>AllowLabelDrop</key>
							<false/>
							<key>AllowToConnect</key>
							<false/>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>16974</integer>
							<key>Points</key>
							<array>
								<string>{346.88888888888869, 1395.2222222222222}</string>
								<string>{389.55555555555532, 1466.3333333333335}</string>
								<string>{489.11111111111109, 1309.8888888888882}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>Legacy</key>
									<true/>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>40</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{275.77777777777783, 1238.7777777777778}, {284.4444444444444, 284.4444444444444}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>16975</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.5</string>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0.727607</string>
										<key>r</key>
										<string>0.153126</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>16973</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{162, 1125}, {512, 512}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>16976</integer>
					<key>ImageID</key>
					<integer>8</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>16972</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{54, 966}, {4, 16}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>16947</integer>
					<key>Shape</key>
					<string>FlattenedRectangle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>4</real>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>TextRelativeArea</key>
					<string>{{0.10000000000000001, 0}, {0.80000000999999998, 1}}</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{53, 984}, {6, 7}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>16948</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{36.000000000000014, 954}, {39.999999999999979, 39.999999999999979}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>16949</integer>
					<key>Rotation</key>
					<real>270</real>
					<key>Shape</key>
					<string>HorizontalTriangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.5</string>
								<key>b</key>
								<string>0.0974829</string>
								<key>g</key>
								<string>0.124274</string>
								<key>r</key>
								<string>0.682415</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>4</real>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>16946</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>AllowConnections</key>
					<string>NO</string>
					<key>AllowLabelDrop</key>
					<false/>
					<key>AllowToConnect</key>
					<false/>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>16910</integer>
					<key>Points</key>
					<array>
						<string>{46, 1057}</string>
						<string>{52, 1067}</string>
						<string>{66, 1045}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>6</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{36, 1035}, {40, 40}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>16911</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.5</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0.727607</string>
								<key>r</key>
								<string>0.153126</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>16909</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{193.5, 649.5}, {209, 218}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>12</integer>
			<key>ImageID</key>
			<integer>9</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{0, 216}, {256, 256}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>10</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
							<key>Width</key>
							<real>0.25</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{23.5, 235}, {209, 218}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>11</integer>
					<key>ImageID</key>
					<integer>9</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{320, 260}, {256, 256}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>5</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
							<key>Width</key>
							<real>0.25</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{343, 267.5}, {210, 241}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>6</integer>
					<key>ImageID</key>
					<integer>10</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{148, 608.5}, {300, 300}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>28</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{630, 45}, {512, 512}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>21</integer>
			<key>ImageID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{315, 207}, {72, 72}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>20</integer>
			<key>ImageID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{267.5, 148}, {50, 50}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>19</integer>
			<key>ImageID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{360, 160}, {29, 29}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>18</integer>
			<key>ImageID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{423, 131}, {58, 58}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>17</integer>
			<key>ImageID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{411, 54}, {57, 57}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>16</integer>
			<key>ImageID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{225, 0}, {114, 114}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>15</integer>
			<key>ImageID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{15, 9}, {210, 218}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>14</integer>
			<key>ImageID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>SnapsToGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>11</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image10.png</string>
		<string>image9.png</string>
		<string>image8.tiff</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2013-01-30 13:02:57 +0000</string>
	<key>Modifier</key>
	<string>Joshua Moody</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>3</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{139, 0}, {1264, 1028}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-9, 765}, {1115, 874}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
