<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>donothingfor2minutes.com</string>
	<string>arandompage.com</string>
	<string>instantrimshot.com</string>
	<string>sometimesredsometimesblue.com</string>
	<string>isitchristmas.com</string>
	<string>alistofsites.com</string>
	<string>khaaan.com</string>
	<string>abevigoda.com</string>
	<string>zombo.com</string>
	<string>purple.com</string>
	<string>yetanotheruselesswebsite.com</string>
	<string>barackobamaisyournewbicycle.com</string>
	<string>tired.com</string>
	<string>amiawesome.com</string>
	<string>r33b.net</string>
	<string>fuckinggoogleit.com</string>
	<string>dowebsitesneedtolookexactlythesameineverybrowser.com</string>
	<string>moneylicense.com</string>
	<string>internetrules.info</string>
	<string>letsturnthisfuckingwebsiteyellow.com</string>
	<string>iiiiiiii.com</string>
	<string>itwillneverbethesame.com</string>
	<string>thankyouandywarhol.com</string>
	<string>internetlastpage.com</string>
	<string>thanksants.com</string>
	<string>raquo.net</string>
	<string>isapplestoredown.com</string>
	<string>whatismyip.org</string>
	<string>thedailynice.com</string>
	<string>defiantdog.com</string>
	<string>internetfirstpage.com</string>
	<string>ooooiiii.com</string>
	<string>lalalaa.com</string>
	<string>justfuckingdoit.com</string>
	<string>webhamster.com</string>
	<string>doesthemailruntoday.com</string>
	<string>spinningbeachballofdeath.com</string>
	<string>1.21jiggawatts.com</string>
	<string>vecka.nu</string>
	<string>clubinternet.org</string>
	<string>kickoutthejamsmotherfuckers.com</string>
	<string>pareidolia.com</string>
	<string>thebestdinosaur.com</string>
	<string>iwanttofeel.com</string>
	<string>didthecubswintoday.com</string>
	<string>boldanditalics.com</string>
	<string>blownupballoon.com</string>
	<string>iwannamarry.com</string>
	<string>isobamapresident.com</string>
	<string>whatstheweather.net</string>
	<string>dontstandnexttothesun.org</string>
	<string>heatofthemoment.asia</string>
	<string>thispeanutlookslikeaduck.com</string>
	<string>amionmyspace.com</string>
	<string>blownupblowup.com</string>
	<string>blownupexplosion.com</string>
	<string>pseudopsycho.com</string>
	<string>thedisagreeinginternet.com</string>
	<string>roadrunner.110mb.com</string>
	<string>single-serve.com</string>
	<string>shockingtruth.info</string>
	<string>isthedowup.com</string>
	<string>isthisyourpaperonsingleservingsites.com</string>
	<string>ensom.be</string>
	<string>sau.no</string>
	<string>ulv.no</string>
	<string>elg.no</string>
	<string>anotherdayanotherword.com</string>
	<string>applecanceledchristmas.com</string>
	<string>arewestilliniraq.com</string>
	<string>classnamer.com</string>
	<string>confuses.me</string>
	<string>d-e-f-i-n-i-t-e-l-y.com</string>
	<string>dingitsup.com</string>
	<string>downforeveryoneorjustme.com</string>
	<string>drawminos.com</string>
	<string>eliotsucks.com</string>
	<string>evilincarnate.net</string>
	<string>flippingtypical.com</string>
	<string>hackthegibson.net</string>
	<string>hasthelargehadroncolliderdestroyedtheworldyet.com</string>
	<string>hasthelhcdestroyedtheearth.com</string>
	<string>hillaryismomjeans.com</string>
	<string>howtobakeapotato.com</string>
	<string>howtocutapineapple.com</string>
	<string>isbarackobamamuslim.com</string>
	<string>isbarackobamamuslin.com</string>
	<string>iscaliforniaonfire.com</string>
	<string>isgeorgewbushpresident.com</string>
	<string>ishtml5readyyet.com</string>
	<string>isistwitterdowndown.com</string>
	<string>ismccainpresident.com</string>
	<string>iwantopenid.com</string>
	<string>kvetch.com</string>
	<string>laquo.net</string>
	<string>leekspin.com</string>
	<string>letmegooglethatforyou.com</string>
	<string>lifeisnotfair.org</string>
	<string>lsaquo.net</string>
	<string>mapagigante.com</string>
	<string>motlify.com</string>
	<string>palinaspresident.us</string>
	<string>perdu.com</string>
	<string>phraseperday.com</string>
	<string>ronpaulisyournewbicycle.com</string>
	<string>rsaquo.net</string>
	<string>sadtrombone.com</string>
	<string>shouldibringanumbrella.com</string>
	<string>shouldiusetablesforlayout.com</string>
	<string>spellingpsa.com</string>
	<string>steamroller.com</string>
	<string>stevejobsisyournewbicycle.com</string>
	<string>tam5.net</string>
	<string>technokittens.com</string>
	<string>thatbuttondoesntactuallydoanything.com</string>
	<string>thebestfortunecookieever.com</string>
	<string>thesheepmarket.com</string>
	<string>thingsthatshouldntexist.com</string>
	<string>turnyournameintoaface.com</string>
	<string>umbrellatoday.com</string>
	<string>umbrelletiquette.com</string>
	<string>wilhelmscream.net</string>
	<string>youautocompleteme.com</string>
	<string>youfellasleepwatchingadvd.com</string>
	<string>ismikearringtonadick.com</string>
	<string>thingsididlastnight.com</string>
	<string>nelsonhaha.com</string>
	<string>merrychristmas.iwouldhaveboughtyouthis.com</string>
	<string>gooong.com</string>
	<string>prayforsteve.com</string>
	<string>audiencesounds.com</string>
	<string>whowonthesuperbowl.net</string>
	<string>dowquote.net</string>
	<string>priceofastamp.com</string>
	<string>youtube-shuffle.com</string>
	<string>togoornottogo.com</string>
	<string>nextmanlyferry.com</string>
	<string>heuteistder.de</string>
	<string>theresablankforthat.com</string>
	<string>uclatuition.com</string>
	<string>stopwat.ch</string>
	<string>snowing.co.nr</string>
	<string>beer404.com</string>
	<string>isitcanadadayyet.com</string>
	<string>count60minutesdown.com</string>
	<string>makeacelebrityodd.com</string>
	<string>thiswebsitehasmade.com</string>
	<string>havetheyfoundlifeonmars.com</string>
	<string>pleaseclickonthisadthankyou.com</string>
	<string>sometimesyouwinsometimesyouloose.com</string>
	<string>tellyourboss.com</string>
	<string>holiday-countdown.com</string>
	<string>howtocutanavocado.com</string>
	<string>onceuponatimetherewasa.com</string>
	<string>woodeniron.org</string>
	<string>hasnycbeenhitbyatornado.com</string>
	<string>toomanycs.co.cc</string>
	<string>hassomethingcomebetween.us</string>
	<string>isitwindy.com</string>
	<string>tane.us</string>
	<string>segerbutton.com</string>
	<string>ie6isolderthanyourgrandpa.com</string>
	<string>bobblechicken.com</string>
	<string>howmuchdoesastampcost.com</string>
	<string>twentynot2000.com</string>
	<string>isitchristmas.info</string>
	<string>when-is-easter.info</string>
	<string>websitedown.info</string>
	<string>isitart.com</string>
	<string>thisdomainleftintentionallyblank.com</string>
	<string>cheesecaketherapy.com</string>
	<string>whatweeknumberisit.com</string>
	<string>good-v-evil.com</string>
	<string>arethelakersplayingtonight.com</string>
	<string>whenistheukelection.com</string>
	<string>whygitisbetterthanx.com</string>
	<string>whoisthesweetest.com</string>
	<string>iseyjafjallajokullstillerupting.com</string>
	<string>stillintherunningtowardsbecoming.com</string>
	<string>md5hasher.net</string>
	<string>garden-g.nom.es</string>
	<string>didbpfixtheoilspillyet.co.cc</string>
	<string>justflipacoin.com</string>
	<string>sha1hash.com</string>
	<string>strftime.org</string>
	<string>whatdoesgooglemean.com</string>
	<string>japanesebirdcookingspaghetti.info</string>
	<string>nooooooooooooooo.com</string>
	<string>whoisthecutest.com</string>
	<string>toomanythings.net</string>
	<string>howtobidatauctions.com</string>
	<string>whencomesthesun.com</string>
	<string>isittheweekendyet.co.uk</string>
	<string>serifsansserif.com</string>
	<string>isjulianassangearrested.com</string>
	<string>disclaimerfy.com</string>
	<string>isjulianassangeoutofjailyet.com</string>
	<string>willitbewindy.com</string>
	<string>malcolmgladwellbookgenerator.com</string>
	<string>islhcworking.com</string>
</array>
</plist>
